<form class="form-inline mt-2 mt-md-0">
  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
<main role="main" class="container">
    <div class="jumbotron">
      <h1>Management Page</h1>
      <h2>Section title</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>User ID</th>
              <th>Site</th>
              <th>User Name</th>
              <th>Password</th>
              <th>Password Availability</th>
              <th>Date Created</th>
              <th>Created By:</th>
              <th>Rotated Date</th>
              <th>Rotation Count</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1,001</td>
              <td>www.microsoft.com</td>
              <td>mariel.mwanzger</td>
              <td>password123</td>
              <td>9/30/2022</td>
              <td>7/31/2022</td>
              <td>9/30/2022</td>
              <td>10 days left</td>
            </tr>
            <tr>
              <td>1,002</td>
              <td>www.microsoft.com</td>
              <td>leoranele.g.estrada</td>
              <td>password123</td>
              <td>9/30/2022</td>
              <td>7/31/2022</td>
              <td>9/30/2022</td>
              <td>10 days left</td>
            </tr>
            <tr>
              <td>1,003</td>
              <td>www.microsoft.com</td>
              <td>jocelyn.tisado</td>
              <td>password123</td>
              <td>9/30/2022</td>
              <td>7/31/2022</td>
              <td>9/30/2022</td>
              <td>10 days left</td>
            </tr>
              
          </tbody>
        </table>
      </div>
    </div>
  </main>